<!doctype html>
<!-- mode: html -->
<html lang="en">
  <head>
    <title>Joshua Elsasser's Github Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	  rel="stylesheet" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
  </head>

  {% set p_class = "mt-4" %}
  {% set table_class = "table table-striped table-bordered w-auto" %}
  {% set th_class = "p-3" %}
  {% set td_class = "p-3" %}

  <body>
    <div class="container">
      <h1 class="display-5">Joshua Elsasser (@jre)</h1>

      <p class="{{p_class}}">
	If you are interested in software which I am hosting on GitHub,
	check out <a href="https://github.com/jre">my profile page</a>
      </p>

      <p class="{{p_class}}">
	The easiest way to install one of my Android apps is to
	use <a href="https://f-droid.org/">F-Droid</a>. First install
	the <a href="https://f-droid.org/">F-Droid app</a> from their
	website, then add <a href="fdroid/repo">my repository</a> and
	search for one of the apps listed below:
      </p>

      <table class="{{table_class}}">
	<thead>
	  <tr>
	    <th scope="col" class="{{th_class}}">Name</th>
	    <th scope="col" class="{{th_class}}">Version</th>
	    <th scope="col" class="{{th_class}}">Updated</th></tr>
	</thead>
	<tbody>
	  {% for package, app in apps|dictsort %}
	  <tr>
	    <td class="{{td_class}}">
	      <a href="{{ app.sourceCode }}">{{ app.name['en-US'] }}</a>
	    </td>
	    <td class="{{td_class}}">
	      <a href="{{ app.sourceCode }}/releases/tag/v{{ app.versionName }}">
		{{ app.versionName }}
	      </a>
	    </td>
	    <td class="{{td_class}}">
	      {{ app.lastUpdated|strftime_millis('%B %e %Y')}}
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>

      <p class="{{p_class}}">
	Last updated {{ repo.timestamp|strftime_millis('%B %e %Y') }}
      </p>
    </div>
  </body>
</html>
